@import "../../../colors.scss";

@mixin font {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  color: $text;
  width: 100%;
}

.input {
  width: 100%;
  height: 100%;
  & > input {
    @include font;
    text-align: center;
    height: 100%;
    border-radius: 8px;
    border: 2px solid $post;
    outline: none;
    &:focus {
      border: 2px solid $primary;
    }
  }
  & > p {
    text-align: center;
    font-size: 10px;
    color: $danger;
  }
}
.inputError {
  & > input {
    border: 2px solid $danger;
  }
}
.textarea {
  width: 100%;
  height: 100%;
  & > p {
    text-align: center;
    font-size: 10px;
    color: $danger;
  }
  & > textarea {
    @include font;
    outline: none;
    border: 2px solid $post;
    border-radius: 8px;
    padding: 8px;
  }
}
