@import "../../../../colors.scss";

.menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 24px;
  .menuBtn {
    width: 100%;
    height: 40px;
  }
}
