@import "../../../colors.scss";

@mixin envelope {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 100%;
  height: 20px;
  background-color: $primary;
  outline: none;
  border: none;
  text-decoration: none;
  transition: 0.07s ease-in-out;

  font-family: "Montserrat", sans-serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: $primaryText;

  cursor: pointer;
}
@mixin title {
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  color: $primaryText;
}
@mixin sTitle {
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  color: $primaryText;
}
@mixin dyn {
  &:hover {
    background-color: $primaryHover;
  }
  &:active {
    background-color: $primary;
  }
}
.envelope {
  @include envelope;
  height: 40px;
  .title {
    @include title;
  }
  @include dyn;
}
.s_envelope {
  @include envelope;
  @include sTitle;
  @include dyn;
}
.s_envelope_sec {
  @include envelope;
  @include sTitle;
  background-color: $secondary;
  &:hover {
    background-color: $secondaryHover;
  }
  &:active {
    background-color: $secondary;
  }
}
.s_envelope_act {
  @include envelope;
  @include sTitle;
  background-color: $primaryActive;
}
.s_envelope_dis {
  @include envelope;
  @include sTitle;
  background-color: $primaryText;
  border: 2px solid $secondary;
  color: $secondary;
  cursor: default;
}
.active {
  background-color: $primaryActive;
  &:hover {
    background-color: $primaryActive;
  }
  &:active {
    background-color: $primaryActive;
  }
}
