@import "../../../../../colors.scss";

.profile {
  margin-bottom: 24px;
  .image {
    margin-bottom: 24px;
    & > img {
      width: 100%;
      border-radius: 8px;
      object-fit: cover;
    }
  }
  .info {
    display: flex;
    justify-content: space-between;
    .metrics {
      width: calc(100% - 96px - 24px - 32px);
      .name {
        font-weight: 800;
        font-size: 12px;
        text-transform: uppercase;
        margin-bottom: 8px;
      }
      .job {
        font-size: 14px;
        margin-bottom: 8px;
      }
      .socials {
        display: flex;
        align-items: center;
        margin-bottom: 4px;
        // height: 24px;
        .uploaded {
          margin-right: 4px;
          & > svg {
            width: 24px;
            fill: $primary;
            &:hover {
              fill: $primaryHover;
            }
            &:active {
              fill: $primaryActive;
            }
          }
        }
        .disabled {
          margin-right: 4px;
          & > svg {
            fill: $secondary;
          }
        }
      }
    }
    .buttons {
      width: 24px;
    }
  }
}
