@import "../../../../../colors.scss";

.profile {
  margin-bottom: 24px;
  .image {
    margin-bottom: 24px;
    & > img {
      width: 100%;
      border-radius: 8px;
      object-fit: cover;
    }
  }
  .info {
    display: flex;
    justify-content: space-between;
    .avatar {
      & > img {
        width: 96px;
        height: 96px;
        flex-shrink: 0;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .metrics {
      width: calc(100% - 96px - 24px - 32px);
      .name {
        font-weight: 800;
        font-size: 12px;
        text-transform: uppercase;
        margin-bottom: 8px;
      }
      .job {
          font-size: 14px;
          margin-bottom: 8px;
      }
      .age {
        font-size: 14px;
      }
    }
    .buttons {
      width: 24px;
      // background-color: yellowgreen;
    }
  }
}
