@import "../../../../../../colors.scss";

.form {
  background-color: $post;
  margin-bottom: 16px;
  padding: 8px;
  border-radius: 8px;
  .title {
    margin-bottom: 4px;
  }
  .text {
    margin-bottom: 4px;
  }
  .buttons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    .button {
      width: 128px;
      margin-right: 8px;
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
