@import "../../../colors.scss";

.loader_env {
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.75);
  }
}
