@import "../../../../../../colors.scss";

.avatar {
  position: relative;
  & > img {
    width: 96px;
    height: 96px;
    flex-shrink: 0;
    border-radius: 50%;
    object-fit: cover;
  }
  .newPhoto {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 20px;
    transform: translate(-50%, -50%);
    transition: 0.14s ease-in-out;
    opacity: 0;
    & > input {
      display: none;
    }
    & > label {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      border-radius: 8px;
      background-color: $primary;

      color: $primaryText;
      font-size: 10px;
      font-weight: 600;
      text-transform: uppercase;

      transition: 0.07s ease-in-out;
      cursor: pointer;
      &:hover {
        background-color: $primaryHover;
      }
      &:active {
        background-color: $primary;
      }
    }
  }
  &:hover .newPhoto {
    opacity: 1;
  }
}
