// UI Elements

$primary: #387bb3;
$primaryHover: #5190c4;
$primaryActive: #0f436d;
$primaryShadow: #1e3950a4;
$primaryText: #ffffff;
$primaryTextClick: #bed9ee;

$secondary: #d6d6d6;
$secondaryHover: #cacaca;
$secondaryShadow: #b8b8b8;
// $secondaryText: #ffffff;
$secondaryText:  #7e7e7e;

$danger: #ff2b2b;
$dangerHover: #ff4f4f;
$dangerShadow: #b8b8b8;
$dangerText: #ffffff;
$dangerTextClick: #ffd6d6;

// Content

$text: #413f46;
$post: #f0f0f0;
