@import "../../../colors.scss";

@mixin comomn {
  width: 100%;
  margin-bottom: 16px;
  border-radius: 8px;
}
.primary {
  @include comomn;
  background-color: $primary;
}
.secondary {
  @include comomn;
  background-color: $postLight;
}
